extends layout

block content
	h1(class="text-4xl font-bold")= title
		
	ul(class="list-decimal p-8 mt-4")
		each genre in genreList
			li
				a(href=genre.url class="text-lg text-blue-600 hover:underline") #{genre.category}
		else
			li(class="text-lg") There are no genres specified in the library.

