doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='min-h-screen bg-[#0F172A] text-white')
      div(class='flex p-4')
        div(class='basis-1/4')
          block sidebar
            ul(class='m-4 space-y-2')
              li
                a(href='/' class="text-[#C0CDD5] hover:underline") Home
              li
                a(href='/books' class="text-[#C0CDD5] hover:underline") Books
              li
                a(href='/authors' class="text-[#C0CDD5] hover:underline") Authors
              li
                a(href='/genres' class="text-[#C0CDD5] hover:underline") Genres
              li
                a(href='/bookInstances' class="text-[#C0CDD5] hover:underline") Book Instances
              li
                hr(class="font-black text-black mb-8 w-12")
              li
                a(href='/author/create' class="text-[#C0CDD5] hover:underline") Add Author
              li
                a(href='/genre/create' class="text-[#C0CDD5] hover:underline") Add Genre
              li
                a(href='/book/create' class="text-[#C0CDD5] hover:underline") Add Book
              li
                a(href='/bookInstance/create' class="text-[#C0CDD5] hover:underline") Add Book Instance

        div(class='mt-4 basis-3/4')
          block content

