doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container p-8')
      div(class='grid grid-cols-2 gap-1')
        div(class='')
          block sidebar
            ul(class='m-4 space-y-2')
              li
                a(href='/catalog' class="text-blue-600 hover:underline") Home
              li
                a(href='/catalog/books' class="text-blue-600 hover:underline") All books
              li
                a(href='/catalog/authors' class="text-blue-600 hover:underline") All authors
              li
                a(href='/catalog/genres' class="text-blue-600 hover:underline") All genres
              li
                a(href='/catalog/bookInstances' class="text-blue-600 hover:underline") All book-instances
              li
                hr(class="font-black text-black")
              li
                a(href='/catalog/author/create' class="text-blue-600 hover:underline") Create new author
              li
                a(href='/catalog/genre/create' class="text-blue-600 hover:underline") Create new genre
              li
                a(href='/catalog/book/create' class="text-blue-600 hover:underline") Create new book
              li
                a(href='/catalog/bookInstance/create' class="text-blue-600 hover:underline") Create new book instance (copy)

        div(class='')
          block content

